{% extends 'layout.html' %}

{% block title %}
    <title>Les variétés</title>
{% endblock %}

{% block body %}

<h3>Variétés</h3>
<br>
<a href="/Variete/add" class="btn btn-primary add">Ajouter une nouvelle variété</a>
<br>
<br><br>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Variété</th>
          <th>Saison</th>
          <th>Culture</th>
            <th>Prix au kg</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        {% if Variete | length >= 1 %}
        {% for ligne in Variete %}
        <tr>
          <td>{{ ligne.id_variete }}</td>
          <td>{{ ligne.libelle_variete }}</td>
          <td>{{ ligne.saison }}</td>
          <td>{{ ligne.culture }}</td>
            <td>{{ ligne.prix_kg }}</td>
          <td><a href="/Variete/edit?id={{ ligne.id }}" class="btn btn-primary">Éditer</a></td>
          <td><a href="/Variete/delete?id={{ ligne.id }}" class="btn btn-primary">Supprimer</a></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
</div>
  {% endblock %}0
