<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>Mon Potager</title>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    <style>
        a {
            text-decoration: none;
        }

        a:hover:not(nav a) {
            text-decoration: underline;
        }
    </style>
</head>
<body>
{% include('_nav.html') %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for categorie, message in messages %}
    <div role="alert" class="alert {{ categorie }}">
           Information : <strong>{{ message }}</strong>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% block body %}
    <h2>Home</h2>
    <p>Allez plutôt voir du côté de <a href="/collecte/show"> ici pour nos collecte</a> ou encore <a href="/adherent/show"> la pour nos adhérents</a>... </p>
{% endblock %}
{% block javascripts %}
    {#<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>#}
{% endblock %}
</body>
</html>